body {
    /* font-size:300%; */
}

form label {
    display: block;
    float: left;
    margin-right: 5px;
    padding-top: 4px;
    text-align: right;
    width: 150px;
}

form div {
    padding: 0.2em;
}

.errorBox {
	color: red;
}
